* {
  border: 1px solid red;
  text-align: center;
  color: black;
  text-decoration: none;
}
header {
   /*setting the background box*/
   background-color: #DDA448;
   position:  fixed;
   top: 0;
   left: 0;
   right: 0;
   padding: 69px 0px;
}

header * {
   /*making the list horizontal*/
   display: inline;
   /*aligning the words together*/
   vertical-align: middle;
}

header li{
   /*adding space between categories*/
   margin:  24px;
}

header li a{
   /*making the categories match design*/
   font-family: Montserrat;
   font-size: 30px;
}

#logo {
  /*Fluff Stuff Logo home button*/
  font-size: 64px;
  font-family: Baskerville;
}

footer{
  margin-top: 425px;
  text-align: center;
  font-family: Montserrat;
}

footer ul{
  display: inline-block;
  list-style-type: none;
  font-size: 14px;
}

footer ul .foottitle {
  font-size: 16px;
}

footer p{
  font-size: 14px;
}

body{
  margin-top: 200px;
  margin-left: 175px;
  height: 806px;
  width: 1153px;
}

body h2{
  font-family: Baskerville;
  font-size: 36px;
  padding: 35px;
  box-sizing: border-box;
  text-align: left;
  font-weight: normal;
}

body #saletext{
  background-color: #8CBCB9;
  height: 379px;
  width: 330px;
}

body .link{
  box-sizing: border-box;
  text-align: left;
  font-weight: normal;
  padding-left: 35px;
  text-decoration: underline;
  font-family: Montserrat;
  font-size: 26px;
}

#firstimage {
  width: 798px;
  height: 379px;
  padding-left: 20px;
}

body .sale{
  float: left;
}